.closeButton {
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  /*background-color: red;*/
  @media only screen and (min-width: $breakpoint_xs) {
    right: 0;
    top: 0;
  }
  button {
    background-color: transparent;
    width: $close-button-size-fixed;
    height: $close-button-size-fixed;
    svg {
      position: relative;
      top: 0;
      left: -12px;
      @media (hover: hover) {
        left: -5px;
        @media only screen and (min-width: $breakpoint_xs) {
          left: -6px;
        }
      }
    }
    @media only screen and (min-width: $breakpoint_xs) {
      width: $close-button-size;
      height: $close-button-size;
    }
  }
  @media (hover: hover) {
    button:hover {
      background-color: $button-hover-background-color;
      color: $button-hover-color;
    }
  }
}
