.globalButtonBar, .globalButtonBarAtBottom {
  position: absolute;
  right: 24px;
  @media only screen and (min-width: $breakpoint_xs) {
    right: 42px;
  }
  @media (hover: hover) {
    button:hover, .buttonLink:hover {
      border: solid thin rgba(219, 255, 235, 0.3);
    }
  }
}

.globalButtonBar {
  bottom: 247px;
  @media only screen and (min-width: $breakpoint_xs) {
    bottom: 300px;
  }
}

.globalButtonBarAtBottom {
  bottom: 20px;
}

