
#three-react-garden {
  .NewPlantDialogFixed {
    position: relative;
    top: $plantListTop-xss-new-planlist;
    height: $plantListHeight-xss;
    background-color: $button-group-background;
    box-shadow: $button-box-shadow;
    .title {
      text-align: left;
      padding: 8px 16px;
    }
    .allPlants {
      max-height: $plantListHeight-xss - 34px;
    }
  }
}
